<!-- HIGHLIGHTS  -->
    <section class="bg-blue text-white py-5">
      <div class="container">
        <h1 class="mb-5 text-center">Highlights</h1>
        <div class="row featurette">
          <div class="col-md-7">
            <h2>Open Data Day at Code for Pakistan</h2>
      <h4>March 3, 2019</h4>
      </br>
            <p class="lead" style="font-size: 1.5rem;">Today is Open Data Day 2019 and Code for Pakistan’s OpenAsterisk team is meeting to discuss the next steps and development roadmap for our opendata portal.</br></br>In the next couple of years, how smartly a community utilises data will play a key role in its prosperity and wellbeing. Data enables us to continuously improve via a never ending understand, measure and optimise cycle. The first step towards making that happen is to open data, code and citizen facing service procedures. It’s bound to improve governance and service delivery for citizens.</br></br><a href="https://medium.com/@CodeforPakistan/open-data-day-at-code-for-pakistan-c2b4485a9f61" style="color:#fff; text-decoration:underline;">...See more</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/Highlight_1.jpeg" alt="Generic placeholder image">
          </div>
        </div>
        <!--
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h3>Oh yeah, it's that good</h3>
            <p class="lead"  style="font-size: 1.5rem;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
              felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
              dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="images/placeholder.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="">

        <div class="row featurette">
          <div class="col-md-7">
            <h3>And lastly, this one</h3>
            <p class="lead" style="font-size: 1.5rem;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
              felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
              dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/placeholder.svg" alt="Generic placeholder image">
          </div>
        </div>
       --> 
        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
    </section>

