{% extends "page.html" %}
{% block subtitle %}{{ gettext('Page Not Found') }} {% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
        <h1>Ooops... This page is under construction. Check back again soon!</h1>
    </div>
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{#{% block flash %}
  {# eat the flash messages caused by the 404 
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}
#}

{% block secondary %}{% endblock %}
