    <!-- GROUPS -->
    <section class="bg-light py-5">
      <div class="container">
        <h2 class="mb-5 text-center">Browse Groups</h2>
        <!-- Three columns of text below the carousel -->

        <ul class="list-unstyled row">
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Education</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="/group/health" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-heartbeat fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Health </h5>
                <p class="mb-0"><small class="badge badge-secondary"></small></p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-bus-alt fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Transport</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Finance</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-satellite-dish fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Technology</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-tractor fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Agriculture</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-cloud-sun fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Environment</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>

          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-radiation fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Energy</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-university fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Local Govt</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>

          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Business</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-industry fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Industry</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
          <li class="col-md-3 col-6 mb-3">
            <a href="group.html" class="media bg-white p-2 text-secondary">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle text-gray fa-stack-2x"></i>
                <i class="fas fa-city fa-stack-1x fa-inverse"></i>
              </span>
              <div class="media-body">
                <h5 class="mt-0 mb-1">Infrastructure</h5>
                <p class="mb-0"><small class="badge badge-secondary">55</small> datasets</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <!-- HIGHLIGHTS  -->
    <section class="bg-blue text-white py-5">
      <div class="container">
        <h2 class="mb-5 text-center">Highlights</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <h3>First featurette heading</h3>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
              felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
              dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/placeholder.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h3>Oh yeah, it's that good</h3>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
              felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
              dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="images/placeholder.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="">

        <div class="row featurette">
          <div class="col-md-7">
            <h3>And lastly, this one</h3>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
              felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
              dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="images/placeholder.svg" alt="Generic placeholder image">
          </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
    </section>

{% set stats = h.get_site_statistics() %}

<section class="py-5 bg-gray">
    <div class="container">
        <div class="d-flex justify-content-around">
            {% block stats_group %}
              
            <p>
                <span class="display-3 d-block text-secondary">
                    <a href="{{ h.url_for(controller='package', action='search') }}" style="text-decoration: none; color: #343A40; font-size: 2rem;">
                    <b style="font-size: 8rem;">{{ h.SI_number_span(stats.dataset_count) }}</b>
                    <br>
                    {{ _('Dataset') if stats.dataset_count == 1 else _('Datasets') }}
                    </a>
                </span>
              </p>
            
              <p>
                <span class="display-3 d-block text-secondary">
                    <a href="{{ h.url_for(controller='organization', action='index') }}" style="text-decoration: none; color: #343A40; font-size: 2rem;">
                    <b style="font-size: 8rem;">{{ h.SI_number_span(stats.organization_count) }}</b>
                    <br>
                    {{ _('Organization') if stats.organization_count == 1 else _('Organizations') }}
                    </a>
                  </span>
            </p>
            
            <p>
                <span class="display-3 d-block text-secondary">
                    <a href="{{ h.url_for(controller='group', action='index') }}" style="text-decoration: none; color: #343A40; font-size: 2rem;">
                    <b style="font-size: 8rem;">{{ h.SI_number_span(stats.group_count) }}</b>
                    <br>
		    {{ _('Group') if stats.group_count == 1 else _('Groups') }}
                    </a>
                </span>
            </p>
    
			{#{% set count = 0 %}
		{% set _class = _class or 'tag-list' %}
		
		    {% for tag in tags %}
		    	{% set count = count + 1 %}
		    {% endblock %}	
 				 #}      
            <p>
                <span class="display-3 d-block text-secondary">
                    <a href="{{ h.url_for(controller='group', action='index') }}" style="text-decoration: none; color: #343A40; font-size: 2rem;">
                    <b style="font-size: 8rem;">0</b>
                    <br>
                    Tags
                    </a>
                </span>
            </p>
            {% endblock %}
        </div>
    </div>
</section>
